@model VimeoVideoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}

<h1>Details</h1>

<div>
    <h4>Vimeo Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VimeoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VimeoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presenter)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
